<a href="https://colab.research.google.com/github/anindabitm/Zindi_hack/blob/master/Zindi_hack3_nb_clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive

In [0]:
drive.mount('/content/drive')
import os
os.chdir('/content/drive/My Drive/Zindi_Hack/3/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import os
import sys
import csv
import shutil
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import torch
import random
%matplotlib inline

In [0]:
!pip install fastai2

In [0]:
from fastai2.torch_basics import *
from fastai2.basics import *
from fastai2.data.all import *
from fastai2.callback.all import *
from fastai2.vision.all import *
from fastai2.test_utils import *
from fastai2.vision.core import *

In [0]:
#seed everything
seed = 42
# python RNG
random.seed(seed)
# pytorch RNGs
torch.manual_seed(seed)
torch.backends.cudnn.deterministic = True
if torch.cuda.is_available(): torch.cuda.manual_seed_all(seed)
# numpy RNG
np.random.seed(seed)

In [0]:
!ls

images	images.zip  sample_sub_v2.csv  train_labels.csv

In [0]:
!unzip images.zip

In [0]:
import glob
fn=glob.glob('./images/*.*')
len(fn)

1817

In [0]:
train=pd.read_csv('./train_labels.csv')
train.shape

(1308, 2)

In [0]:
train.head()

                                image  target
0  tfymlmdkpzkqdjhdxyhnoeuqszxphw.jpg       0
1  rxgismgsvmaayzjarbfjaljhqmpbrt.jpg       1
2  uuzshfrhkgrkolhwdvliqauzulurnz.jpg       0
3  mjspxsagzusaznvnyxgamtrlqkqklp.jpg       0
4  rlbmuajgezfiddjzlyeoupxpqubkpt.jpg       1

In [0]:
sub=pd.read_csv('./sample_sub_v2.csv')
print(sub.shape)
sub.head()

(509, 2)

                                image  target
0  aadawlxbmapqrblgxyzarhjasgiobu.png       0
1  abpxvdfyhaaohzcrngcucmhffwizxs.jpg       0
2  aclkjfvackiieiznzfcwienplielrj.jpg       0
3  aelkivmayxgsdjosiibfgmkvfrjvjk.jpg       0
4  aelzzshpfxerelefnkatpczktuxjln.jpg       0

In [0]:
from sklearn.model_selection import StratifiedKFold
skf = StratifiedKFold(n_splits=5,shuffle=True,random_state=42)
X=train['image'].copy()
y=train['target'].copy()
fold = 0
for train_index, test_index in skf.split(X, y):
  fold+= 1
  print('In fold',fold)
  print("TRAIN LENGTH:", len(train_index), "VALIDATION LENGTH:", len(test_index))
  train[f'fold_{fold}_valid']=False
  train.loc[test_index,f'fold_{fold}_valid']=True

In fold 1
TRAIN LENGTH: 1046 VALIDATION LENGTH: 262
In fold 2
TRAIN LENGTH: 1046 VALIDATION LENGTH: 262
In fold 3
TRAIN LENGTH: 1046 VALIDATION LENGTH: 262
In fold 4
TRAIN LENGTH: 1047 VALIDATION LENGTH: 261
In fold 5
TRAIN LENGTH: 1047 VALIDATION LENGTH: 261

In [0]:
train.head()

                                image  target  ...  fold_4_valid  fold_5_valid
0  tfymlmdkpzkqdjhdxyhnoeuqszxphw.jpg       0  ...         False         False
1  rxgismgsvmaayzjarbfjaljhqmpbrt.jpg       1  ...          True         False
2  uuzshfrhkgrkolhwdvliqauzulurnz.jpg       0  ...         False         False
3  mjspxsagzusaznvnyxgamtrlqkqklp.jpg       0  ...          True         False
4  rlbmuajgezfiddjzlyeoupxpqubkpt.jpg       1  ...         False         False

[5 rows x 7 columns]

In [0]:
def dataloader(fold):
  dls = ImageDataLoaders.from_df(train, path='.', folder='images',valid_col=f'fold_{fold}_valid', seed=42, item_tfms=Resize(224),batch_tfms = [*aug_transforms(size=224), Normalize.from_stats(*imagenet_stats)]) 
  return dls

In [0]:
final_preds=np.zeros((sub.shape[0],sub.shape[1]))
test=sub.copy()
test.drop(['target'],axis=1,inplace=True)
#mixup = MixUp(0.5)

fold = 0
for fold in range(5):
  fold+=1
  print('In fold:',fold)
  dls=dataloader(fold)
  dls.show_batch()
  learn = cnn_learner(dls,densenet169,metrics=[accuracy])
  learn.fine_tune(20)
  test_dl=learn.dls.test_dl(test)
  preds, _ = learn.tta(dl=test_dl)
  print('Prediction completed in fold: {}'.format(str(fold)))
  final_preds+=preds.numpy()
  
final_preds=final_preds/5

In [0]:
train['target'].value_counts()

0    664
1    644
Name: target, dtype: int64

In [0]:
sub_file=sub.copy()
sub_file['target']=final_preds[:,1]
sub_file.shape

(509, 2)

In [0]:
sub_file.to_csv('./submission_file_tta_cv_dense169.csv',index=False)